body {
	margin: 0;
	font-family: 'Cardo', serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Oswald', sans-serif;
 color: #3b8b6d
}

.green-bg {
    background-color: #3b8b6d;
    color: white;
}

.blue-bg {
	background : #52aae2;
	color: white;
}

.content {
	min-height: calc(100vh - 50px);
}

.navbar {
	border-bottom: #3b8b6d 3px solid;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-bottom	: #3b8b6d 3px solid;
}

.carousel-item {
	height: 450px;
}

.carousel-image-1 {
	background: url('../images/slider1.jpg');
	background-size: cover;
}

.carousel-image-2 {
  background: url('../images/slider2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../images/slider3.jpeg');
  background-size: cover;
}

.table {
	background: #F7F7F9;
}

.container {
	margin-bottom: 5px;
}

#main-footer {
	border-top: #3b8b6d 3px solid;
  	height:62px;
   	width:100%;
}

.my-error-class {
	color: #F00;
}